<?xml version="1.0" encoding="UTF-8"?>
<!-- for Tomcat 10 >>>> -->
<web-app xmlns="https://jakarta.ee/xml/ns/jakartaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee
         https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd"
         version="5.0">

    <display-name>semestr2</display-name>

    <session-config>
        <session-timeout>60</session-timeout>
    </session-config>

<!--   <welcome-file-list>
        <welcome-file>index.html</welcome-file>
        <welcome-file>index.htm</welcome-file>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
-->
    <!--
        <servlet>
            <servlet-name>simple_servlet</servlet-name>
            <servlet-class>ru.itis.dis.lab09.SimpleServlet</servlet-class>
            <init-param>
                <param-name>aaa</param-name>
                <param-value>111</param-value>
            </init-param>
        </servlet>
        <servlet-mapping>
            <servlet-name>simple_servlet</servlet-name>
            <url-pattern>/demo</url-pattern>
        </servlet-mapping>
    -->

</web-app>